#content {
    display: flex;
    justify-content: center;
    align-items: center;
}

#board {
    width: 500px;
    height: 500px;
    border: 1px solid black;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat((10, 1fr));
}

.cell {
    border: 1px solid black;
    text-align: center;
    resize: none;
    height: 48px;
    width: 48px;
}

.cell:hover {
    background-color: lightsteelblue;
}